body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    background-color: rgb(248, 245, 245);
}

/* Global */
.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}


table{
    border-collapse: collapse;
    border-color: #000000;
}

a{
    color: #ffff00e0;
}

.link a{
    text-decoration: none;
    
}

ul{
    margin: 0;
    padding: 0;
}

#button_1{
    height: 38px;
    position: absolute;
    left: 450px;
    background: rgba(7, 128, 3, 0.699);   
    border: 4px;
    padding-left: 20px;
    padding-right: 20px;
    
    
}





.dack{
    padding: 15px;
    background: #025e33b2;
    color: #ffff00e0;
    margin-top: 10px;
    margin-bottom: 10px;
    
}

/* Header **/
header{
    background: #024d0e;
    color:#ffff00e0;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: rgb(248, 250, 247) 10px solid;
}

.headsee{
    background: #575c58;
    color:#ffff00e0;
    padding-top: 0px;
    margin-top: 50px;
    min-height: 70px;
    border-bottom: rgb(248, 250, 247) 10px solid;
    position: sticky;
    box-shadow: 110px #161f17;
}


.see{
    background: #024d0e;
    color:#ffff00e0;
    padding-top: 30px;
    min-height: 70px;
   
    border-bottom: rgb(248, 250, 247) 10px solid;
}

header a{
    color: #ffffff;
    text-decoration: none;    
    font-size: 16px;
}


header li{
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}

header #branding{
    float: left;
}

header #branding h1{
    margin: 0;
}

header nav{
    float: right;
    margin-top: 10px;
}

header .highlight{
    color:#ffff00e0;
    font-weight: bold;
}

/* include all highlighted area in this project file*/  
.highlight{
    color:#f5f523;
    font-weight: bold;
}


/* Header link hover */
header a:hover{
    color: rgb(240, 240, 0);
    font-weight: bold;
}

/* showcase */
#showcase{
    
    background: url('IMG-20221125-WA0000\ \(1\).jpg') ;
    background-repeat: no-repeat;
    background-size: cover; 
    width: 100%; 
    height: 100%; 
    padding-top: 75px;
    padding-bottom: 325px;
    text-align: center;
    color: #ffffff;
    overflow: hidden;
    
}



#showcase h1{
    margin-top: 100px;
    font-size: 55px;
    color: #ffff00e0;
    
}

#showcase p{
    
   
    font-size: 25px ;
}





/* main-col */
article#main-col{
   float: none;
    
}


/* Form */
.quote{
    padding: 15px;
    color: #000000;
    background: #13810485;
}

.quote{
    font-size: 25px;
    text-align: left;
}






 #main1m{
    float: right;
    margin-top: 15px;
    
}

 input[type="email"]{
    padding: 1px;    
    width: 40%;
    
}
.quote{
    width: 80%;
    margin: auto;
    overflow: hidden;
    
    
}

.button_1{
    height: 38px;
    background: #138104b9;
    border: 0;
    padding-left: 20px;
    padding-right: 20px;
    color: #ffffff;
    width: 95%;
    margin-left: 10px;
    border-radius: 5px;
}

 .quote input,  .quote textarea{
    width: 95%;
    padding: 5px;
    border-radius: 5px;
    
}
 #main1m{
    float: right;
    margin-top: 15px;
    
}


    
    


.container1{
    width: 90%;
    margin: auto;
    overflow: hidden;
    
}


/* Map */ 

.container2{
    text-align: center; 
    width: 100%;
} 




/* Youtube video*/
.youtube{
    float: right;
    margin-left: 10px; 
    
}


/* Audio of Me*/
.audio{
   margin-left: 145px;
   width: 80%;
}

/* footer in project file*/

footer{
    padding: 20px;
    margin-top: 20px;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 145, 0);
    text-align: center;
}

/*media Queries */
@media(max-width: 768px){
    header #branding, header nav, header nav li, #newsleter h1, #newsletter form, #boxes .box, article#main-col, aside#sidebar, aside#sidebar1, #main1, #form h1, #naub1 .container1{
        float: none;
        text-align: center;
        width: 100%;
        padding: 2px;

    }


    

    header{
        padding-bottom: 20px;
    }

    #showcase h1, #main1, table{
        margin-top: 40px;
    }

    #newsletter button, .quote button{
        display: block;
        width: 100%;
    }

    #newsleter form input, .quote input, .quote textarea, #main1 .container1[type="email"]{
        width: 100%;
        margin-bottom: 5px;
    }

    #button_1{
        height: 38px;
        position: inherit;
        left: 450px;
        background: rgba(7, 128, 3, 0.699);   
        border: 4px;
        padding-left: 20px;
        padding-right: 20px;
        
        
    }
    
}

